*
	margin: 0
	padding: 0
	font-family: 'Bebas Neue', san-serif
	font-size: 25px

//header CSS

.header
	background-color: #5a181a
	padding: 20px
	display: flex
	justify-content: space-between
	align-items: center

.header img:nth-child(1)
	height: 100%
	flex-basis: 1
	
.header img:nth-child(2)
	width: 55%
	height: 100%	
	flex-basis: 2

nav 
	background-color: black
	height: 40px
	display: flex
	justify-content: flex-start
	align-items: center
	padding: 0px 10px


nav li
	display: inline
	text-decoration: none
	margin-left: 10px

nav li a
	text-decoration: none
	color: #e1e1e1
	
	text-transform: uppercase		

//Media Queries
// for big devices



